<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Toronto Maple Leafs</th>
      <th>Edmonton Oilers</th>
      <th>Winnipeg Jets</th>
      <th>Ottawa Senators</th>
      <th>Calgary Flames</th>
      <th>Vancouver Canucks</th>
      <th>Montréal Canadiens</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Toronto Maple Leafs</th>
      <td>NaN</td>
      <td>{'lt': 5, 'tt': 2}</td>
      <td>{'lt': 2, 'tt': 2}</td>
      <td>{'lt': 3, 'tt': 3}</td>
      <td>{'lt': 3, 'tt': 1}</td>
      <td>{'lt': 3, 'tt': 2}</td>
      <td>{'lt': 3, 'tt': 1}</td>
    </tr>
    <tr>
      <th>Edmonton Oilers</th>
      <td>{'lt': 2, 'tt': 5}</td>
      <td>NaN</td>
      <td>{'lt': 2, 'tt': 2}</td>
      <td>{'lt': 7, 'tt': 0}</td>
      <td>{'lt': 3, 'tt': 1}</td>
      <td>{'lt': 3, 'tt': 2}</td>
      <td>{'lt': 1, 'tt': 2}</td>
    </tr>
    <tr>
      <th>Winnipeg Jets</th>
      <td>{'lt': 2, 'tt': 2}</td>
      <td>{'lt': 2, 'tt': 2}</td>
      <td>NaN</td>
      <td>{'lt': 4, 'tt': 1}</td>
      <td>{'lt': 3, 'tt': 2}</td>
      <td>{'lt': 3, 'tt': 2}</td>
      <td>{'lt': 3, 'tt': 1}</td>
    </tr>
    <tr>
      <th>Ottawa Senators</th>
      <td>{'lt': 3, 'tt': 3}</td>
      <td>{'lt': 0, 'tt': 7}</td>
      <td>{'lt': 1, 'tt': 4}</td>
      <td>NaN</td>
      <td>{'lt': 3, 'tt': 2}</td>
      <td>{'lt': 0, 'tt': 3}</td>
      <td>{'lt': 3, 'tt': 2}</td>
    </tr>
    <tr>
      <th>Calgary Flames</th>
      <td>{'lt': 1, 'tt': 3}</td>
      <td>{'lt': 1, 'tt': 3}</td>
      <td>{'lt': 2, 'tt': 3}</td>
      <td>{'lt': 2, 'tt': 3}</td>
      <td>NaN</td>
      <td>{'lt': 4, 'tt': 2}</td>
      <td>{'lt': 3, 'tt': 1}</td>
    </tr>
    <tr>
      <th>Vancouver Canucks</th>
      <td>{'lt': 2, 'tt': 3}</td>
      <td>{'lt': 2, 'tt': 3}</td>
      <td>{'lt': 2, 'tt': 3}</td>
      <td>{'lt': 3, 'tt': 0}</td>
      <td>{'lt': 2, 'tt': 4}</td>
      <td>NaN</td>
      <td>{'lt': 2, 'tt': 5}</td>
    </tr>
    <tr>
      <th>Montréal Canadiens</th>
      <td>{'lt': 1, 'tt': 3}</td>
      <td>{'lt': 2, 'tt': 1}</td>
      <td>{'lt': 1, 'tt': 3}</td>
      <td>{'lt': 2, 'tt': 3}</td>
      <td>{'lt': 1, 'tt': 3}</td>
      <td>{'lt': 5, 'tt': 2}</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>