{% extends 'base.html'%}

{% block content %}
<title>Team standings</title>
<html>
<!-- Tab links -->
<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'North')">{{nameN|safe}}</button>
  <button class="tablinks" onclick="openCity(event, 'Central')">{{nameC|safe}}</button>
  <button class="tablinks" onclick="openCity(event, 'West')">{{nameW|safe}}</button>
  <button class="tablinks" onclick="openCity(event, 'East')">{{nameE|safe}}</button>
  <button class="tablinks" onclick="openCity(event, 'League')">{{nameL|safe}}</button>
  <button class="tablinks" onclick="openCity(event, 'nameyest')">{{nameyest|safe}}</button>
  <button class="tablinks" onclick="openCity(event, 'nametoday')">{{nametoday|safe}}</button>
  <button class="tablinks" onclick="openCity(event, 'nametom')">{{nametom|safe}}</button>
<!--
  <button class="tablinks" onclick="openCity(event, 'Debug')">{{nameDB|safe}}</button>
-->
</div>

    <!-- Tab content -->

    <div id="North" class="tabcontent">
      <h3>{{nameN|safe}}</h3>
      {{tableN|safe}}
      {{divtableN|safe}}
    </div>

    <div id="East" class="tabcontent">
      <h3>{{nameE|safe}}</h3>
      {{tableE|safe}}
      {{divtableE|safe}}
    </div>

    <div id="West" class="tabcontent">
      <h3>{{nameW|safe}}</h3>
      {{tableW|safe}}
      {{divtableW|safe}}
    </div>

    <div id="Central" class="tabcontent">
      <h3>{{nameC|safe}}</h3>
      {{tableC|safe}}
      {{divtableC|safe}}
    </div>

    <div id="League" class="tabcontent">
      <h3>{{nameL|safe}}</h3>
      {{tableL|safe}}
    </div>

    <div id="nameyest" class="tabcontent">
      <h3>The games for: {{yest_date|safe}}</h3>
      {{yest_games|safe}}
    </div>

    <div id="nametoday" class="tabcontent">
      <h3>The games for: {{today_date|safe}}</h3>
      {{today_games|safe}}
    </div>

    <div id="nametom" class="tabcontent">
      <h3>The games for: {{tom_date|safe}}</h3>
      {{tom_games|safe}}
    </div>
<!--
    <div id="Debug" class="tabcontent">
      <h3>{{nameDB|safe}}</h3>
      {{tableDB|safe}}
    </div>
-->
</html>
{% endblock %}
